html,
body {
  margin: 0;
  padding: 0;
}

.text{
  
}
.glassIntrobox {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  z-index: 1;
  position: absolute;
  width: 80%;
  height: 70%;
  margin-top: 7.5%;
  margin-bottom: auto;
  margin-left: 10%;
  margin-right: 10%;
}